<div class="formularioRegistro">
  <h2>Cadastrar Pessoa</h2>
  <form [formGroup]="pessoaForm" (ngSubmit)="onSavePessoa()">

    <div class="form-group">
      <label>Nome</label>
      <input type="text" formControlName="nome" class="form-control">
    </div>

    <div class="form-group">
      <label>Sobrenome</label>
      <input type="text" formControlName="sobrenome" class="form-control">
    </div>

    <div class="form-group">
      <label>Idade</label>
      <input type="text" formControlName="idade" class="form-control">
    </div>

    <div class="form-group">
      <label>País</label>
      <select name="pais" id="pais" formControlName="pais" class="form-control">
        <option [ngValue]="item" *ngFor="let item of paises"> {{ item.nome }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Estado ou Região</label>
      <select name="estado" id="estado" formControlName="estado" class="form-control">
        <option [ngValue]="item" *ngFor="let item of estados"> {{ item.nome }} </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="pessoaForm.invalid"> Criar </button>

  </form>

</div>

<div class="tabelaRegistros">

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
        <th>Pais</th>
        <th>Estados</th>
        <th rowspan="2"></th>
      </tr>
    </thead>

    <tbody>
        <tbody *ngFor="let item of pessoas">

          <tr>
            <td> {{ item.id }} </td>
            <td> {{ item.nome }} </td>
            <td> {{ item.sobrenome }} </td>
            <td> {{ item.idade }} </td>
            <td> {{ item.pais.nome }} </td>
            <td> {{ item.estado.nome }} </td>
            <td> <button type="button" class="btn btn-success" (click)="onEdit(item)">Editar</button> </td>
            <td> <button type="button" class="btn btn-danger" (click)="onDelete(item.id)">Deletar</button> </td>

          </tr>

        </tbody>
  </table>
</div>


<router-outlet></router-outlet>
